* {
    background-color: rgb(245, 245, 245);
}
.parentLoader{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  
  z-index: 1000;
  height: 100%;
  width: 100%;
  opacity: 1;
  animation: fade;
  animation-duration: 0s;
  animation-delay:3s;
  animation-fill-mode: forwards;
  }


.loader {
  position: absolute;
  right:0;
  top:0;
  bottom:0;
  left:0;
  margin: auto;
  border: 16px solid #e0e0e0;
  border-radius: 50%;
  border-top: 16px solid #f672b1;
  border-right: 16px solid white;
  border-bottom: 16px solid #f672b1;
  border-left: 16px solid white;
  width: 50px;
  height: 50px;
  z-index: 2000;
  animation: spin 3s forwards; 
  
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    visibility:visible;
  }
  50%{
    transform: rotate(180deg);
    visibility:visible;
  }
  to {
    transform: rotate(360deg);
    visibility:hidden;
  
    height:0;
    width:0;
  }
}


@keyframes fade {
  from{
    opacity:1;
    display: block;
  }
  to{
    opacity:0;
    z-index:-100;
    
    height:0;
    width:0;
    display: none;
    clip-path:circle(0);
  }
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

div, span, a {
    background-color: transparent;
}

.preheader {
    background-color: #f672b1;
    /* border: #2a2a2a solid; */
    height: 20%;
    overflow: hidden;
}

    .preheader span {
        font-size: 13px;
        color: #2a2a2a;
        font-weight: 500;
        width: inherit;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        color: white;
        font-style: italic;
        font-weight: bolder;
        padding: 12px 14px;
        font-size: 20px;
    }

#hey {
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    animation: slideInAnimation 1s ease-out forwards;
    animation-delay: 3s;
    position: relative;
    display: inline-block;
    will-change: transform;
    transform: translateZ(0);
}

@keyframes slideInAnimation {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.textbutton {
    text-align: right;
    vertical-align: middle;
}

    .textbutton:hover {
        transform: translateX(-20px);
    }

.reserve {
    color: white;
    text-decoration: none;
    margin-bottom: 2px;
    padding: 12px 14px;
    font-size: 20px;
}



.headerarea {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    /* z-index: 100; */
    height: 40%;
    background-color: transparent;
    /* border: #2a2a2a solid; */
    width: inherit;
    overflow: hidden;
}


.logonav {
    overflow: hidden;
    /* height: 60%; */
    background-image: linear-gradient(#f672b1, rgb(245, 245, 245));
}

.logo {
    border: dotted #f672b1 5px;
    float: left;
}

.nav {
    float: right;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    /* border: black solid;  */
    height: 80px;
    line-height: 80px;
}

#nava {
    text-decoration: none;
    color: black;
    padding: 12px 14px;
    font-size: 20px;
    width: 100%;
}

.showbanner {
    background-image: url(../images/Images/Colorful.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    height: 310px;
    line-height: 300px;
    background-color: transparent;
}

.bannertext {
    /* margin: auto; */
    text-align: center;
    align-items: center;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

h1, h3 {
    background-color: transparent;
    color: white;
}

.products {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    text-align: center;
    height: 390px;
    background-image: linear-gradient(rgb(245, 245, 245), #f672b1);
}

    .products:hover img {
        opacity: 0.5;
    }

    .products:hover .wrap:hover img {
        opacity: 1;
        /* -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2); */
        transform: scale(1.2);
        /* z-index:2; */
        position: relative;
        transition: 500ms;
    }

#productimage {
    border-radius: 100%;
}

.wrap {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

    .wrap p {
        position: absolute;
        opacity: 0;
        top: 50%;
        left: -8%;
        padding: 5px;
        text-align: center;
        width: 113%;
        font-size: 20px;
        line-height: 20px;
        margin-top: -10px;
        z-index: 3;
        background: rgba(255,255,255, 0.7);
        transition: 1s;
    }

    .wrap img {
        display: block;
        width: 300px;
        height: 200px;
        margin: 5px;
        /* -webkit-transition:opacity 0.26s ease-out;
    -moz-transition:opacity 0.26s ease-out;
    -ms-transition:opacity 0.26s ease-out;
    -o-transition:opacity 0.26s ease-out; */
        transition: opacity 0.26s ease-out;
        transition: 500ms;
    }

    .wrap:hover p {
        opacity: 1;
    }

@media screen and (min-width: 780px) and (max-width: 998px) {
    .products {
        display: grid;
        width: 100%;
        background-image: linear-gradient(rgb(245, 245, 245), #f672b1);
        overflow: auto;
    }

    #productimage {
        max-width: 100%;
    }
}

/* Medium screens (e.g., tablets) */
@media screen and (min-width: 501px) and (max-width: 779px) {

    .products {
        background-image: linear-gradient(rgb(245, 245, 245), #f672b1);
        overflow: auto;
        width: 100%;
        display: grid;
    }

    #productimage {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    #nava {
        padding: 5px;
    }

    .products {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 1400px;
        background-image: linear-gradient(rgb(245, 245, 245), #f672b1);
    }
}
